@inherits LayoutComponentBase

<PageTitle>Mischa ter Haar's Website</PageTitle>

<div class="page">
    <div class="my-navbar">
        <NavMenu/>
    </div>

    <main>
        <article class="main">
            @Body
        </article>
    </main>
</div>