.page {
    overflow-y: hidden;
    display: grid;
    height: 100vh;
}

.my-navbar {
    background-color: #f7f7f7;
    width: 100%;
    height: 60px;
    grid-row: 1;
}

main {
    grid-row: 2;
    height: 100%;
}

/* CSS class that makes its content scrollable */
.main {
    overflow-y: auto;
    padding: 25px;
    height: calc(100vh - 60px);
}